.mgt10 {
  margin-top: 10px;
}
.mgt12 {
  margin-top: 12px;
}
.mgb10 {
  margin-bottom: 10px;
}
.mgb12 {
  margin-bottom: 12px;
}
.mgl10 {
  margin-left: 10px;
}
.mgl12 {
  margin-left: 12px;
}
.mgr10 {
  margin-right: 10px;
}
.mgl12 {
  margin-right: 12px;
}
